
// Build Locations
SDKROOT = $(DEVELOPER_SDK_DIR)/MacOSX10.6.sdk

// Compiler version
GCC_VERSION = 4.2
GCC_VERSION[arch=ppc] = 4.0


// Search Paths
USER_HEADER_SEARCH_PATHS = "$(PROJECT_DIR)/../../Sources/Rayshade/"
FRAMEWORK_SEARCH_PATHS = "$(PROJECT_DIR)/../../../../Libraries/Mac/Framework_Universal/$(CONFIGURATION)"

// Build Options
DEBUG_INFORMATION_FORMAT = dwarf
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO

// Linking
PREBINDING = NO
ZEROLINK = NO
DEAD_CODE_STRIPPING = YES
OTHER_LDFLAGS = -framework Quesa

// Packaging
PRODUCT_NAME = RayShade Renderer
WRAPPER_EXTENSION = quesaplug
INFOPLIST_FILE = $(PROJECT_DIR)/../../Resources/MacOS/Info.plist

// Deployment
MACOSX_DEPLOYMENT_TARGET = 10.4

// Language
GCC_PREFIX_HEADER = $(PROJECT_DIR)/../../Sources/Rayshade_Prefix.pch
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PFE_FILE_C_DIALECTS = c++

// Code Generation
GCC_ENABLE_SYMBOL_SEPARATION = NO
GCC_FAST_MATH = YES
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = YES

// Warnings
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES

// Preprocessing
GCC_PREPROCESSOR_DEFINITIONS = QUESA_OS_MACINTOSH=1 TARGET_API_MAC_OSX=1 macintosh=1
