SDK/Examples/Geom Test/.vs/
Development/Projects/Windows/Debug/
Development/Projects/Windows/Release/
Development/Projects/Windows/x64/
SDK/Examples/Geom Test/Debug/Geom Test.tlog/
Development/Projects/Windows/.vs/
SDK/Libraries/
SDK/Examples/Geom Test/Debug/
SDK/Examples/Geom Test/Win32/
SDK/Examples/Geom Test/x64/
