# Configuration file for HeaderDoc
# $Revision: 1.2 $
###########################################################

%config = (
    copyrightOwner => "1999-2002 Quesa Developers",
    defaultFrameName => "index.html",
    compositePageName => "CompositePage.html",
    masterTOCName => "MasterTOC.html"
);