# Configuration file for HeaderDoc
###########################################################
copyrightOwner => 1999-2009 Quesa Developers
defaultFrameName => index.html
compositePageName => CompositePage.html
masterTOCName => MasterTOC.html
apiUIDPrefix => Quesa
ignorePrefixes => Q3_EXTERN_API_C|#if QUESA_ALLOW_QD3D_EXTENSIONS
htmlHeader => 
