PRODUCT_NAME = Quesa
HEADER_SEARCH_PATHS = ../../../SDK/Includes/Quesa
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO
DYLIB_CURRENT_VERSION = 1.8
DYLIB_COMPATIBILITY_VERSION = 1.6
GCC_INPUT_FILETYPE = sourcecode.cpp.objcpp
GCC_PREFIX_HEADER = ../../Source/Core/Support/E3Prefix.h
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_ENABLE_SYMBOL_SEPARATION = NO	// Separate PCH Symbols
GCC_FAST_MATH = YES					// Relax IEEE Compliance
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = NO
GCC_PREPROCESSOR_DEFINITIONS = QUESA_OS_MACINTOSH=1 QUESA_OS_COCOA=1 TARGET_API_MAC_CARBON=1
