SDKROOT = $(DEVELOPER_SDK_DIR)/MacOSX10.4u.sdk
HEADER_SEARCH_PATHS = $(PROJECT_DIR)/../Resources $(PROJECT_DIR)/../lib3ds
FRAMEWORK_SEARCH_PATHS = "$(PROJECT_DIR)/../../../Libraries/Mac/Framework_Universal/$(CONFIGURATION)"
DEBUG_INFORMATION_FORMAT = dwarf
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO
PREBINDING = NO
DEAD_CODE_STRIPPING = YES
PRODUCT_NAME = 3DS-Support
WRAPPER_EXTENSION = quesaplug
INFOPLIST_FILE = ../Resources/Info.plist
INFOPLIST_PREPROCESS = YES
INFOPLIST_PREFIX_HEADER = ../Resources/version.h
MACOSX_DEPLOYMENT_TARGET = 10.3
GCC_PREFIX_HEADER = ../Source/3DS-FileSupport_Prefix.pch
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PFE_FILE_C_DIALECTS = c++
GCC_ENABLE_SYMBOL_SEPARATION = NO
GCC_FAST_MATH = YES
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
GCC_PREPROCESSOR_DEFINITIONS = QUESA_OS_MACINTOSH=1 TARGET_API_MAC_OSX=1
