//
//  Textify-proj.xcconfig
//  Textify3DMF
//
//  Created by James Walker on 3/26/12.
//  Copyright 2012 James W. Walker. All rights reserved.
//
// Architectures
ARCHS = i386 ppc x86_64
SDKROOT = macosx10.6


// Build Locations
//SYMROOT = $(SeparateBuilds)/Textify3DMF


// Build Options
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO


// Linking
PREBINDING = NO


// GCC Language
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_PREFIX_HEADER = prefix.h
GCC_PRECOMPILE_PREFIX_HEADER = YES


// GCC Code Generation
GCC_ENABLE_FIX_AND_CONTINUE = NO


// GCC Warnings
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES


// Packaging
PRODUCT_NAME = Textify3DMF


// Search Paths
ALWAYS_SEARCH_USER_PATHS = NO
