//
//  Modern.xcconfig
//  Quesa
//
//  Created by James Walker on 7/18/2012.

// These settings are to be used with Xcode 4.0 or later, to build the i386 and
// x86_64 architectures.

// Architectures:
// --------------
ARCHS = i386 x86_64


// Minimum OS version supported:
// -----------------------------
MACOSX_DEPLOYMENT_TARGET = 10.5


// Mac OS SDK version:
// -------------------
// Latest should be OK.
SDKROOT = macosx


// Compiler version:
// -----------------
// Latest should be OK.
GCC_VERSION =


// Preprocessor settings relating to legacy code:
// ----------------------------------------------
// QUESA_SUPPORT_HITOOLBOX=1 must be used if you will create Carbon draw contexts,
//   and must NOT be used if you compile for 64 bits.
//   If you do not define QUESA_SUPPORT_HITOOLBOX here, then Quesa.h will set it
//   to 0 in 64-bit mode and 1 in 32-bit mode.
// QUESA_SUPPORT_QUICKTIME=1 is needed for certain features (compressed textures,
//   wire elements) and is not allowed when compiling for 64 bits.
//   If you do not define QUESA_SUPPORT_QUICKTIME here, then Quesa.h will set it
//   to 0 in 64-bit mode and 1 in 32-bit mode.
QUESA_PREPROCESSOR_DEFS_LEGACY = QUESA_SUPPORT_QUICKTIME=0
