#include "Quesa-common.xcconfig"


// Don't build only the active architecture.
// Switch to YES to only build the active arch (for faster debugging turnaround).
ONLY_ACTIVE_ARCH = NO

// Disable compiler optimizations.
GCC_OPTIMIZATION_LEVEL = 0
DEAD_CODE_STRIPPING = NO

GCC_ENABLE_FIX_AND_CONTINUE = YES

// Must be on to get debug symbols.
GCC_GENERATE_DEBUGGING_SYMBOLS = YES

// Debug symbols: embedded within the executable.
DEBUG_INFORMATION_FORMAT = dwarf

// Symbol stripping, don't remove symbols.
DEPLOYMENT_POSTPROCESSING = NO
STRIP_STYLE = debugging
STRIP_INSTALLED_PRODUCT = NO
SEPARATE_STRIP = NO
UNSTRIPPED_PRODUCT = YES
ONLY_LINK_ESSENTIAL_SYMBOLS = NO

// Code generation optimisations.
GCC_AUTO_VECTORIZATION = NO
GCC_ENABLE_SSE3_EXTENSIONS = NO
GCC_ENABLE_SUPPLEMENTAL_SSE3_INSTRUCTIONS = NO

DEPLOYMENT_POSTPROCESSING = NO

// Define Q3_DEBUG in debug only.
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(QUESA_PREPROCESSOR_DEFINITIONS_COMMON) Q3_DEBUG=1


// Extra debugging features, requires Xcode 3 and the 10.5 SDK.
// QUESA_EXTRA_DEBUG_C = -fstack-protector -D_FORTIFY_SOURCE=2
QUESA_EXTRA_DEBUG_C =
OTHER_CFLAGS = $(inherited) $(QUESA_EXTRA_DEBUG_C)

// Extra C++-only debugging features, requires gcc 3 or later, and requires using the default system compiler (4.0 on 10.5, 4.2 on 10.6)
// QUESA_EXTRA_DEBUG_CXX = -D_GLIBCXX_DEBUG -D_GLIBCXX_DEBUG_PEDANTIC
QUESA_EXTRA_DEBUG_CXX =
OTHER_CXXFLAGS = $(inherited) $(QUESA_EXTRA_DEBUG_C) $(QUESA_EXTRA_DEBUG_CXX)
