<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM
"file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
   <key>CFBundleInfoDictionaryVersion</key>
   <string>6.0</string>
   <key>CFBundleVersion</key>
   <string>0.1</string>
   <key>CFBundleDevelopmentRegion</key>
   <string>English</string>
   <key>CFBundleName</key>
   <string>Quesa Viewer</string>
   <key>CFBundlePackageType</key>
   <string>APPL</string>
   <key>CFBundleSignature</key>
   <string>QsVr</string>
   <key>CFBundleGetInfoString</key>
   <string>http://www.quesa.org</string>
   <key>CFBundleIconFile</key>
   <string>128</string>
</dict>
</plist>
