// Architectures
ARCHS = x86_64

// Compiler version
GCC_VERSION = 
//GCC_VERSION[arch=ppc] = 4.0

// Build Locations
SDKROOT = macosx
//SDKROOT[arch=ppc] = macosx10.4
SYMROOT = Output-Xcode

// Search Paths
HEADER_SEARCH_PATHS = $(Boost) $(PROJECT_DIR)/../Resources
FRAMEWORK_SEARCH_PATHS = "$(PROJECT_DIR)/../../../Libraries/Mac/Framework_Modern/$(CONFIGURATION)"

// Build Options
DEBUG_INFORMATION_FORMAT = dwarf
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO

// Linking
PREBINDING = NO
ZEROLINK = NO
DEAD_CODE_STRIPPING = YES

// Packaging
PRODUCT_NAME = VRML-Reader
WRAPPER_EXTENSION = quesaplug
INFOPLIST_FILE = ../Resources/Info.plist
INFOPLIST_PREPROCESS = YES
INFOPLIST_PREFIX_HEADER = ../Resources/version.h

// Deployment
MACOSX_DEPLOYMENT_TARGET = 10.7

// Language
GCC_PREFIX_HEADER = ../Source/Precompiled Headers/VRML-Reader_Prefix.pch
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_C_LANGUAGE_STANDARD = gnu11
CLANG_CXX_LANGUAGE_STANDARD = gnu++0x
CLANG_CXX_LIBRARY = libc++
CLANG_ENABLE_OBJC_WEAK = YES

// Code Generation
GCC_ENABLE_SYMBOL_SEPARATION = NO
GCC_FAST_MATH = YES
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_NO_COMMON_BLOCKS = YES

// Warnings
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_UNREACHABLE_CODE = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES

// Preprocessing
GCC_PREPROCESSOR_DEFINITIONS = QUESA_OS_COCOA=1 QUESA_SUPPORT_QUICKTIME=0 TARGET_API_MAC_OSX=1 BOOST_SPIRIT_USE_OLD_NAMESPACE
ENABLE_STRICT_OBJC_MSGSEND = YES
