ARCHS = ppc i386
SDKROOT = /Developer/SDKs/MacOSX10.4u.sdk
HEADER_SEARCH_PATHS = $(Boost) $(PROJECT_DIR)/../Resources
FRAMEWORK_SEARCH_PATHS = "$(PROJECT_DIR)/../../../Libraries/Mac/Framework_Universal/Release"
DEBUG_INFORMATION_FORMAT = dwarf
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO
PREBINDING = NO
DEAD_CODE_STRIPPING = YES
PRODUCT_NAME = VRML-Reader
WRAPPER_EXTENSION = quesaplug
INFOPLIST_FILE = ../Resources/Info.plist
INFOPLIST_PREPROCESS = YES
INFOPLIST_PREFIX_HEADER = ../Resources/version.h
MACOSX_DEPLOYMENT_TARGET = 10.3
GCC_PREFIX_HEADER = ../Source/Precompiled Headers/VRML-Reader_Prefix.pch
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PFE_FILE_C_DIALECTS = c++
GCC_ENABLE_SYMBOL_SEPARATION = NO
GCC_FAST_MATH = YES
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
GCC_PREPROCESSOR_DEFINITIONS = QUESA_OS_MACINTOSH=1 TARGET_API_MAC_OSX=1
